*{
  font-family: Arial, Helvetica, sans-serif;
}

#root{
  width: 100%;
  height: 100%;
}

.navbar{
  font-size: 14px;
  margin-bottom: 50px;
}

.container{
  padding: 0 2rem;
}

.content{
  display:flex;
  width: 100%;
}

.graph-edit{
  padding-left: 20px;
  display:flex;
  width: 100%;
  flex-direction: column;
}

.axis-container{
  position: relative;
  display:flex;
  flex-direction: column;
  min-width: 150px;
  border-radius: 4px;
  margin: 10px;
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
}

.axis-delete{
  padding: 10px;
  background: red;
  color:white;
  outline: none;
  border: none;
  border-radius: 100px;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 20px;
  padding: 2px 8px;
}

.axis-delete:hover{
  background: black;
  cursor:pointer;
}

.axis-items{
  display:flex;
  height: 25px
}

.axis-items .editable-item>span{
  padding-right: 10px;
}

.axis-items .editable-item:not(:first-of-type)>span{
  padding-left: 10px;
}

.axis-items .editable-item:not(:last-of-type)>span{
  border-right: 1px solid black;
}

.axis-title{
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.axis-title input{
  max-width: 100px;
  font-weight: bold;
  text-transform: uppercase;
}

.axis-add{
  margin: 0 8px;
  margin-bottom: 50px;
  background:black;
  color:white;
  border:none;
  outline: none;
  border-radius: 4px;
  font-size: 12px;
  padding: 1rem 2rem;
  border: 1px solid transparent;
}

.axis-add:hover{
  cursor:pointer;
  background:white;
  color:black;
  border-color: black;
}

.axis-edit{
  display: flex;
  flex-direction: column;
}

.editable-item{
  padding: 0;
  margin: 0;
  display: flex;
}

.editable-item input{
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  padding: 5px;
  margin-right: 5px;
  width: 100%;
}

.editable-item input:active, .editable-item input:focus{
  border-color: #54A55F;
}

.editable-item:hover{
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.editable-item span:hover{
  color: red;
}

.item-add{
  background:black;
  color:white;
  border:none;
  outline: none;
  border-radius: 4px;
  font-size: 12px;
  border: 1px solid transparent;
}

.item-add:hover{
  cursor:pointer;
  background:white;
  color:black;
  border-color: black;
}