:root{
  --scope-color: #54a55f;
  --interaction-color: #4E9ABC;
  --interaction-color: #4E9ABC;
  --danger-color: red;
}

html *{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}

.navbar {
  margin-bottom: 50px;
  padding: 25px;
}

.navbar h1{
  font-size: 24px;
  font-weight: bold;
}

.container {
  padding: 0 2rem;
}

.content {
  display: flex;
  width: 100%;
}

.chart-controls {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 50px;
}

.axis-add {
  width: 100%;
  background: black;
  margin: 10px 0;
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 12px;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-size: 18px;
}

.axis-add:hover {
  cursor: pointer;
  color: black;
  background: var(--interaction-color);
  color:white;
}

.editable-item {
  padding: 0;
  margin: 0;
  display: flex;
}

.editable-item input {
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  padding: 5px;
  margin-right: 5px;
  width: 100%;
}

.editable-item input:active,
.editable-item input:focus {
  border-color: black;
}

.editable-item:hover {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.editable-item span:hover {
  color: var(--interaction-color);
}

.axis-card {
  margin: 10px 0;
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  min-width: 150px;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.axis-card--delete {
  background: #e2e2e2;
  padding: 10px;
  color: white;
  outline: none;
  border: none;
  border-radius: 100px;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 20px;
  padding: 2px 8px;
}

.axis-card--delete:hover {
  background: var(--danger-color);
  cursor: pointer;
}

.axis-card--items {
  display: flex;
  height: 25px;
  align-items:center;
  text-align:center;
}

.axis-card--items .active{
  color: var(--scope-color)
}

.axis-card--items .editable-item > span {
  padding-right: 10px;
}

.axis-card--items .editable-item:not(:first-of-type) > span {
  padding-left: 10px;
}

.axis-card--items .editable-item:not(:last-of-type) > span {
  border-right: 1px solid black;
}

.axis-card--title {
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-weight: bold;
}

.axis-card--title input {
  max-width: 100px;
  font-weight: bold;
  text-transform: uppercase;
}

.axis-card--edit {
  display: flex;
  flex-direction: column;
}

.axis-card--scope-slider {
  margin-top: 8px;
}

.axis-card--scope-slider::-moz-range-progress {
  background-color: var(--scope-color);
}

.axis-card--scope-slider::-moz-range-track {
  background-color: #e2e2e2;
}

.axis-card--scope-slider::-moz-range-thumb {
  background-color: var(--scope-color);
  border: none;
}

.axis-card--scope-slider::-moz-range-thumb:hover {
  cursor: pointer;
  background-color: var(--interaction-color);
}

.axis-card--item-add {
  background: black;
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 12px;
  border: 1px solid transparent;
}

.axis-card--item-add:hover {
  cursor: pointer;
  background: var(--interaction-color);
}
